<nav>
	<a href="{{ url_for('main_blueprint.index') }}">
		PIS/ 											</a>
  
  	<span>
		{{ data.title }}	</span>
  
  	<div class="right-bar">
    	{% if current_user.is_authenticated %}
      		<a href="{{ url_for('auth_blueprint.logout')}}">
				Log Out										</a>

    	{% else %}
      		<a href="{{ url_for('auth_blueprint.login')}}">
				Log In										</a>
				
    	{% endif %}															</div>	</nav>