{% extends 'components/base.jinja2' %}

{% block content %}
    <div>
        <h1>Search Some Zettels</h1>

        <form method="POST" action="/zettel-search">
            {{ data.form.csrf_token }}

            <fieldset>
                {{ data.form.luhmann_id.label }}
                {{ data.form.luhmann_id(placeholder='1a3d9b2') }} </fieldset>

            <fieldset>
                {{ data.form.title.label }}
                {{ data.form.title }}       </fieldset>

            <div>
                {{ data.form.submit }}  </div>                                      </form> </div>

    {% for zettel in data.zettels|sort(attribute = 'luhmann_id') %}
      	<a tag = "zettel_link" 
           href = " {{ url_for( 'zettelkasten_blueprint.zettel_view',   
                            	 luhmann_id = zettel.luhmann_id) }}    "  >
        	{{ zettel.luhmann_id }}: {{ zettel.title }}						</a>
        <br>                                                                        {% endfor %}    {% endblock content %}