{% extends 'components/base.html' %}

{% block content %}

  <h3>Go ahead, create a nice little zettel</h3>

  <form method="POST" action="/label_zettel">
    {{ context.form.csrf_token }}

    <fieldset>
      {{ context.form.luhmann_identifier.label }}
      {{ context.form.luhmann_identifier }}
      {% for error in context.form.luhmann_identifier.errors %}
        {{ error }}
      {% endfor %}
    </fieldset>

    <fieldset>
      {{ context.form.title.label }}
      {{ context.form.title }}
    </fieldset>

    <fieldset>
      {{ context.form.content.label }}
      {{ context.form.content }}
    </fieldset>

    <div>
      {{ context.form.submit }}
    </div>

  </form>

{% endblock content %}