{% extends 'components/base.html' %}

{% block content %}

  <div>

    <h1>Search Some Zettels</h1>

    <form method="POST" action="/zettel_search">
      {{ context.form.csrf_token }}

      <fieldset>
        {{ context.form.luhmann_identifier.label }}
        {{ context.form.luhmann_identifier(placeholder='1a3d9b2') }}
      </fieldset>

      <fieldset>
        {{ context.form.title.label }}
        {{ context.form.title }}
      </fieldset>

      <div>
        {{ context.form.submit }}
      </div>

    </form>
  </div>

  {% for zettel in context.zettels|sort(attribute='luhmann_identifier') %}
    <a href="{{ url_for('zettel_view', luhmann_id=zettel.luhmann_identifier) }}">{{ zettel.luhmann_identifier }}: {{ zettel.title }}</a> <br>
  {% endfor %}
  
{% endblock content %}