{% extends 'components/base.html' %}

{% block content %}
  <h2>{{context.zettel.luhmann_id}} {{context.zettel.title}} </h2>

  <h4>Content</h4> 
  <p>{{context.zettel.content}}</p>

  <h4>Links</h4>
  {% for zettel in context.zettel.links %}
    <a href="{{ url_for('zk_bp.zettel_view', luhmann_id=zettel.luhmann_id)}}">{{zettel.luhmann_id}} {{zettel.title}}</a>
  {% endfor %}

  <h4>Backlinks</h4>
  {% for zettel in context.zettel.backlinks %}
    <a href="{{ url_for('zk_bp.zettel_view', luhmann_id=zettel.luhmann_id)}}">{{zettel.luhmann_id}} {{zettel.title}}</a>
  {% endfor %}

  <br>
  <br>
  {% if current_user.role == context.RolesEnum.ADMIN %}
    <a href="{{ url_for('zk_bp.zettel_edit', luhmann_id=context.zettel.luhmann_id) }}">Edit</a> - 
    <a href="{{ url_for('zk_bp.zettel_delete', luhmann_id=context.zettel.luhmann_id) }}">Delete</a>
  {% endif %}
{% endblock content %}

