{% extends 'components/base.html' %}

{% block content %}

  <div>

    <h1>Search Some Zettels</h1>

    <form method="POST" action="/zettel-search">
      {{ context.form.csrf_token }}

      <fieldset>
        {{ context.form.luhmann_id.label }}
        {{ context.form.luhmann_id(placeholder='1a3d9b2') }}
      </fieldset>

      <fieldset>
        {{ context.form.title.label }}
        {{ context.form.title }}
      </fieldset>

      <div>
        {{ context.form.submit }}
      </div>

    </form>
  </div>

  {% for zettel in context.zettels|sort(attribute='luhmann_id') %}
    <a href="{{ url_for('zk_bp.zettel_view', luhmann_id=zettel.luhmann_id) }}">{{ zettel.luhmann_id }}: {{ zettel.title }}</a> <br>
  {% endfor %}
  
{% endblock content %}