{% extends 'components/base.jinja2' %}

{% block content %}
    <div>
        <h1>Your Daily Routine</h1>     </div>  

    {% for routine in data.routines %}
        {{ routine.starttime}}
        {{ routine.name }}
        <br>                            {% endfor %} 
        
    <br>
    <a href={{ url_for( 'routine_blueprint.routine_create')}}>
        Add Routine                                             </a>    {% endblock content %}

        