{% extends 'components/base.html' %}

{% import 'macros/roles.html' as roles %}

{% block content %}
  <h2>List of Users</h2>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Role</td>
      </tr>
    </thead>
    <tbody>
      {% for user in context.users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ roles.int_to_str(user.role, context) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </ul>
{% endblock content %}