{% extends 'components/base.jinja2' %}

{% block content %}
  <div>
    <h1>Edit {{ data.meditation.name}} </h1>

    <form method="POST" action="/meditation/edit/{{data.meditation.id}}">
      {{ data.form.csrf_token }}

      <fieldset>
        {{ data.form.name.label }}
        {{ data.form.name(placeholder=data.meditation.name) }}  </fieldset>

      <fieldset>
        {{ data.form.description.label }}
        {{ data.form.description(placeholder=data.meditation.description) }}  </fieldset>

      <div>
        {{ data.form.submit }}  </div>  </form>  </div>  {% endblock %}