{% extends 'components/base.jinja2' %}

{% block content %}
    <div>
        <h1>Your Daily Meditation</h1>     </div>  

    {% for meditation in data.meditations %}
        {{ meditation.starttime}}
        {{ meditation.name }}
        <br>                            {% endfor %} 
        
    <br>
    <a href={{ url_for( 'meditation_blueprint.create')}}>
        Add Meditation                                    </a>    {% endblock content %}
